body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

header .box {
  padding: 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .box .boxstart h1 {
  font-size: 22px;
}
header .box .boxsign .btn {
  padding: 12px 18px;
  background-color: #0d6efd;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
}

#generate {
  background-image: url(Assest1/bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#generate .box {
  height: 600px;
  display: flex;
  flex-direction: column;
}
#generate .box .textbox {
  width: 600px;
}
#generate .box .textbox h1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.1;
}
#generate .box .minibox {
  margin-top: 40px;
}
#generate .box .minibox .add input {
  border: 1px solid #ced4da;
  display: block;
  width: 500px;
  margin: 12px 0 12px -50px;
  font-size: 22px;
  color: rgb(116, 116, 116);
  padding: 20px;
  border-radius: 8px;
}
#generate .box .minibox .btn {
  height: 70px;
  background-color: #0d6efd;
  margin: 11px 0 0 22px;
  padding: 18px;
  font-size: 22px;
  color: #ffffff;
  opacity: 0.7;
  border-radius: 8px;
}
@media (max-width: 768px) {
  #generate .box .textbox h1 {
    font-size: 40px;
  }
  #generate .box .minibox .add input {
    width: 400px;
    margin: 12px 0 12px 20px;
  }
}
@media (max-width: 576px) {
  #generate .box .textbox {
    width: 450px;
  }
  #generate .box .minibox .add input {
    width: 350px;
  }
}
@media (max-width: 500px) {
  #generate .box .textbox {
    width: 350px;
  }
  #generate .box .minibox .add input {
    width: 200px;
  }
}

#bootstrap {
  background-color: #f8f9fa;
  padding: 80px 0;
}
#bootstrap .box .minibox {
  display: flex;
  justify-content: center;
}
#bootstrap .box .minibox .icon {
  color: #0f6ffd;
  font-size: 70px;
  margin: 30px 0;
}
#bootstrap .box .textbox {
  text-align: center;
}
#bootstrap .box .textbox h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}
#bootstrap .box .textbox h4 {
  font-size: 22px;
  color: #868685;
  padding: 0 60px;
  line-height: 1.5;
}
@media (max-width: 1200px) {
  #bootstrap .box .textbox h4 {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  #bootstrap .box .textbox {
    margin-bottom: 50px;
  }
  #bootstrap .box .textbox h4 {
    width: 320px;
  }
}

#responsive .box {
  margin-left: 50px;
}
#responsive .box h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
#responsive .box p {
  font-size: 22px;
  color: #868685;
  line-height: 1.5;
  padding-right: 60px;
}
#responsive .imgbox {
  margin-left: -23px;
  overflow: hidden;
}
#responsive .imgbox img {
  width: 100%;
}
@media (max-width: 992px) {
  #responsive {
    padding: 80px 0;
  }
  #responsive .box {
    margin: 90px 0;
  }
  #responsive .box p {
    padding-right: 0;
    font-size: 21px;
  }
}

#people {
  background-color: #f8f9fa;
  padding: 80px 0;
}
#people .textbox h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
}
#people .box .imgbox img {
  border-radius: 50%;
  width: 200px;
}
#people .box .textbox h2 {
  font-weight: 600;
  font-size: 23px;
  margin: 18px 0;
}
#people .box .textbox h4 {
  font-size: 18px;
  padding: 0 65px;
  line-height: 1.4;
}
@media (max-width: 992px) {
  #people .box .textbox {
    width: 410px;
  }
  #people .box .textbox h4 {
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  #people .textbox h1 {
    font-size: 28px;
  }
  #people .textbox .box .textbox {
    width: 350px;
  }
  #people .textbox .box .textbox h4 {
    font-size: 12px;
  }
}

#ready {
  background-image: url(Assest1/bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#ready .box {
  height: 350px;
  display: flex;
  flex-direction: column;
}
#ready .box h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}
#ready .box .minibox {
  margin-top: 20px;
}
#ready .box .minibox .add input {
  border: 1px solid #ced4da;
  display: block;
  width: 500px;
  margin: 12px 0 12px -50px;
  font-size: 22px;
  color: rgb(116, 116, 116);
  padding: 20px;
  border-radius: 8px;
}
#ready .box .minibox .btn {
  height: 70px;
  background-color: #0d6efd;
  margin: 11px 0 0 22px;
  padding: 18px;
  font-size: 22px;
  color: #ffffff;
  opacity: 0.7;
  border-radius: 8px;
}
@media (max-width: 768px) {
  #ready .box .minibox .add input {
    width: 400px;
    margin: 12px 0 12px 20px;
  }
}
@media (max-width: 576px) {
  #ready .box .textbox {
    width: 450px;
  }
  #ready .box .textbox h1 {
    font-size: 30px;
  }
  #ready .box .minibox .add input {
    width: 350px;
  }
}
@media (max-width: 500px) {
  #ready .box .textbox {
    width: 350px;
  }
  #ready .box .minibox .add input {
    width: 200px;
  }
}

footer {
  background-color: #f8f9fa;
  padding: 60px 0;
}
footer .box .textbox h2 {
  color: #0d6efd;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px;
}
footer .box .minibox .icon {
  font-size: 12px;
  color: rgb(116, 116, 116);
  padding-top: 3px;
}
footer .box .minibox h3 {
  font-size: 16px;
  margin-left: 3px;
  color: rgb(116, 116, 116);
}
footer .box .icon {
  font-size: 28px;
  color: #0d6efd;
  margin: 0 15px;
}/*# sourceMappingURL=style.css.map */